<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsApp | 404 page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- nav-bar section -->
    <nav>
        <h1 class="logo"><a href="/testnews">NewsApp</a></h1>
        <div class="nav-links">
            <ul class="menu-links">
                <li><a href="/testnews" class="menu-link">Home</a></li>
                <li><a href="" class="menu-link">Search</a></li>
                <li><a href="" class="menu-link">Profile</a></li>
            </ul>
            <div class="nav-icon">&#9776;</div>
            <div class="navicon-list-wrapper">
                    <ul class="nav-icon_menuList">
                        <li class="hello"><a href="/testnews">Home</a></li>
                        <li><a href="">Search</a></li>
                        <li><a href="">Profile</a></li>
                    </ul>
                
            </div>
        </div>
    </nav>

    <!-- main body of the webpage-->
    <h1 class="h1-404">404</h1>
    <p class="p-404">Page Not Found</p>

</body>
</html>
