<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsApp | <%= route_data['page_name'] %> page</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>

    <!-- nav-bar section -->
    <nav class="details-page-text">
        <h1 class="logo"><a href="/">NewsApp</a></h1>
        <div class="nav-links">
            <ul class="menu-links hide-on-mobile">
                <li><a href="/" class="menu-link">Home</a></li>
                <li><a href="" class="menu-link">Search</a></li>
                <li><a href="" class="menu-link">Profile</a></li>
            </ul>
            <div class="nav-icon">&#9776;</div>
            <div class="navicon-list-wrapper">
                    <ul class="nav-icon_menuList">
                        <li><a href="">Home</a></li>
                        <li><a href="">Search</a></li>
                        <li><a href="">Profile</a></li>
                    </ul>
                
            </div>
        </div>
    </nav>

    <!-- main section -->
    <main class="details-page-text blogpage-main">
        <!-- blog-image -->
        <div class="blogImage-wrapper">
            <img src="https://images.pexels.com/photos/3498323/pexels-photo-3498323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="blog-image">
        </div>

        <div class="details-page blogdetails-wrapper">

            <!-- credits-and-time section -->
            <section id="authorAndTimeSection">
                <small>Posted by Admin <span id="read-time">(5 mins read time)</span> </small>
                <small id="published-time">July 1, 2023</small>
            </section>
            
            <!-- news-title -->
            <header>
                <h1>Lorem ipsum dolor sit amet eibrum elvitro consectetur adipisicing notum.</h1>
            </header>
            
            <!-- full-article section -->
            <article>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda recusandae voluptatum perspiciatis vel possimus! Aspernatur quis, pariatur ullam iusto aliquid eum, inventore culpa consequuntur necessitatibus corporis vitae, vero accusantium natus.</p>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas pariatur asperiores consectetur ipsam! Explicabo suscipit neque, dicta veniam eum iste quae ratione, id laboriosam, aliquid fuga dolore qui possimus rem quos? Expedita, dolorem sequi unde voluptatum tempore ullam aliquid voluptas nam libero impedit dicta! Aperiam a deleniti aut. Nisi esse corrupti sed consequatur voluptatibus numquam debitis maiores ullam, dolores itaque sit rem doloribus, rerum, ex earum aliquam excepturi. Obcaecati, atque delectus. Modi explicabo suscipit qui quidem corrupti harum magnam dolorem.</p>

                <p><i>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda recusandae voluptatum perspiciatis vel possimus! Aspernatur quis, pariatur ullam iusto aliquid eum, inventore culpa consequuntur."</i></p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda recusandae voluptatum perspiciatis vel possimus! Aspernatur quis, pariatur ullam iusto aliquid eum, inventore culpa consequuntur necessitatibus corporis vitae, vero accusantium natus.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda recusandae voluptatum perspiciatis vel possimus! Aspernatur quis, pariatur ullam iusto.</p>
            </article>

            <div class="previous-page">
                <a href="/">&larr; Previous</a>
            </div>

        </div>
    </main>

    <footer class="details-page--footer">
        <h2 class="logo"><a href="/">NewsApp</a></h2>

        
        <p id="copyright">&copy;2023 Copyright NewsApp</p>

        <div id="imprint">
            <p>Project By: <span>Paschal Ogba</span></p>
        </div>
    </footer>

</body>
</html>
