

/* media queries */


/* for mobile screens only */
/* (min-width : 700px)  */
@media (max-width : 599px), 
(min-width : 599px)
{

    /* remove desktop menu-links */
    nav .menu-links li{
        display: none;
    }

    .navicon-list-wrapper .nav-icon_menuList {
        display: grid;
        place-items: center;
        margin-top: 2rem;
    }
    .navicon-list-wrapper .nav-icon_menuList li a {
        /* outline: var(--outline-red); */
        line-height: 1.8;
        color: var(--dark2-color);
        letter-spacing: 1.2px;
        font-size: 1.5rem;
        font-weight: 400;
    }


    /* for small screen details page */
    .details-page-main{
     margin: 0 !important;
     padding: 0 !important;
    }

    .details-page-main .blogImage-wrapper{
        /* outline: 2px dashed crimson; */
        width: 100vw;
        /* height: 80vw; */
    }

    .blogImage-wrapper img{
        width: 100%;
        object-position: center;
        object-fit: cover;
    }

    .details-page-main .blogdetails-wrapper{
        display: block;
        padding: 0 8px;
    }


    /* details page text styling */  
    /* .details-page-text h1, */
    /* .details-page-text a, */
    /* .details-page-text span, */
    /* .details-page-text small  */

    .details-page-text h1,
    .details-page-text i{
        font-weight: 300;
    }

    .details-page-text p{
     color: default !important;
     font-size: 1.2rem;
     font-weight: 200;
    }

    .details-page--footer{
        display: block;
    }

    .details-page--footer h2,
    .details-page--footer p{
        display: block;
        margin: 0 auto!important;
        padding: 1rem 0 !important;
        text-align: center;
    }
    /* .details-page--footer h2,
    .details-page--footer p{
        outline: 2px dashed crimson;
    } */
    .details-page--footer #imprint{
        padding: 2rem 0 1rem;
        margin-bottom: 0 !important;
    }
}


/* for screen-sizes 700px and above */
@media (min-width : 700px){

    /* cards list */
    main ul li{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }

    /* cards */
    ul li .news-card{
        width: 31% ;
        max-width: 20%; 
        height: 320px;
        padding-bottom: 1rem;
    }
    .news-card .card-body{
        /* outline: var(--outline-purple); */
        position: relative;
    }
    .news-card h2{
        /* outline: var(--outline-blue); */
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .news-card .card-body p{
        /* outline: var(--outline-purple); */
        padding-top: 0;
        margin-bottom: 1rem;
        font-size: .75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-body .readmore-cta{
        /* outline: var(--outline-red); */
        position: absolute;
        bottom: -16px;
        right: 12px;

        font-weight: 200;
        cursor: pointer;
        letter-spacing: 1;
        color: var(--blue-color);
        font-size: .8rem;
    }



    /* for details page only (700+ px)*/
    .details-page-main{
        /* display: none; */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .details-page-main .blogImage-wrapper,
    .blogdetails-wrapper{
        width: 60vw;
        grid-column: 2/5;
    }
    .blogImage-wrapper img{
        width: 100%;
    }
    .details-page-main i{
        font-weight: 600;
    }
}



/* 599px to 699px */
@media (min-width : 599px) {

    main ul li{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }
}


/* 700px to 750px */
@media (min-width : 700px) {

    main ul li{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }
}


/* 750px to 999px */
@media (min-width : 750px) {
    
    /* remove nav-icon */
    .nav-icon, .navicon-list-wrapper{
        display: none;
    }

    /* navigation links */
    nav .nav-links .menu-links li{
        /* outline: var(--outline-red); */
        display: flex;
        padding: 0 1rem;
    }
    
    main ul li{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }

}



/* 1000px and above */
@media (min-width : 999px) {
    
    /* remove nav-icon */
    .nav-icon, .navicon-list-wrapper{
        display: none;
    }

    /* navigation links */
    nav .nav-links .menu-links li{
        /* outline: var(--outline-red); */
        display: flex;
        padding: 0 1rem;
    }


    /* main{
        margin: 0 10%;
    } */

    main ul li{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: .2rem;
    }

    .card-body h2{
        font-size: 1rem;
    }

    .card-body .readmore-cta{
        position: absolute;
        bottom: -16px;
        right: 12px;

        font-weight: 200;
        cursor: pointer;
        letter-spacing: 1;
        color: var(--blue-color);
        font-size: .8rem;
    }

    

    /* for Desktop details page only (1000+ px)*/
    .details-page-main{
        /* display: none; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .details-page-main .blogImage-wrapper,
    .blogdetails-wrapper{
        width: 45vw;
        grid-column: 2/4;
    }
    .blogImage-wrapper img{
        width: 100%;
    }
}
