

/* nav-bar */
nav{
    /* display: none; */
    /* outline: var(--outline-red); */
    width: 100vw;
    padding: 0.8% 10%;

    background-color: var(--purewhite-color);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo{
    /* outline: var(--outline-red); */
    outline: transparent;
}

nav .nav-links{
    display: none;
}

/* the nav-menu--and--menu-icon */
nav .nav-links ul{
    display: flex;
}


/* nav-menu only */
nav .nav-links ul li{
    /* outline: var(--outline-red); */
    padding-top: 8px;
    padding-left: 1rem;
}
nav .nav-links ul li a:hover{
    cursor: pointer;
    color: var(--skyblue-color);
}

/* nav-icon only */
.nav-icon{
    /* outline: var(--outline-blue); */
    color: var(--dark-color);
    font-size: 1.6rem;
    padding:  0.4rem 1rem;
    opacity: 0.6;
}
.nav-icon:hover{
    cursor: pointer;
    color: var(--lightblue-color);
}

/* to toggle btw mobile and large screen */
/* .deactivate-menu{
    display: none;
} */

/* here is for dropdown menu navigation */
.navicon-list-wrapper{
    position: absolute;
    z-index: 2;
    display: none;
    top: 44px;
    right: 0;
    
    width: 60vw;
    height: 100vh;
    background-color: var(--purewhite-color);
    padding: 10px 0 200px;
}
